
@{
    ViewBag.Title = "Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Resumen</a></li>
    <li class="breadcrumb-item active">Clientes</li>
</ol>

<div class="card">
    <div class="card-header">

        <i class="fas fa-users"></i> Lista de Clientes
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success" onclick="abrirModal(null)">Crear Nuevo</button>
            </div>
        </div>

        <hr />

        <table id="tablausuario" class="display cell-border" style="width:100%">
            <thead>
                <tr>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Telefono</th>
                    <th>Correo</th>
                    <th>Estado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="FormModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Clientes</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">

                <!-- <input id ="txtid" type="hidden" name="name" value="0" /> -->
                <input id="txtid" type="text" name="name" value="0" />

                <div class="row g-2">

                    <div class="col-sm-6">
                        <label for="txtNombre" class="form-label">Nombres</label>
                        <input type="text" class="form-control" id="txtNombre" placeholder="Juan Carlos" autocomplete="off">
                    </div>

                    <div class="col-sm-6">
                        <label for="txtApellidos" class="form-label">Apellidos</label>
                        <input type="text" class="form-control" id="txtApellidos" placeholder="Perez Soliz" autocomplete="off">
                    </div>

                    <div class="col-sm-6">
                        <label for="txtTelefono" class="form-label">Telefono</label>
                        <input type="text" class="form-control" id="txtTelefono" placeholder="77555555" autocomplete="off">
                    </div>

                    <div class="col-sm-6">
                        <label for="txtCorreo" class="form-label">Correo</label>
                        <input type="text" class="form-control" id="txtCorreo" placeholder="juanperezsoliz@gmail.com" autocomplete="off">
                    </div>

                    <div class="col-sm-6">
                        <label for="cdactivo" class="form-label">Estado</label>
                        <select class="form-select" aria-label="Default select example" id="cdactivo">
                            <option value="1">Activo</option>
                            <option value="0">Inactivo</option>
                        </select>
                    </div>


                </div>
                <div class="row mt-2">
                    <div class="col-12">

                        <div id="mensajeError" class="alert alert-danger" role="alert">
                            A simple danger alert—check it out!
                        </div>

                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
            var tabladata;
            var filaSeleccionada;


            @*jQuery.ajax({
                url: '@Url.Action("ListarUsuarios", "Home")',
                type: 'GET',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    //debugger;
                    //var texto = "Hello word";

                    console.log(data);
                }
            });*@

            tabladata = $('#tablausuario').DataTable({
                responsive: true,
                ordering: false,
                "ajax": {
                    "url": '@Url.Action("ListarClientes", "Operaciones")',
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "nombres" },
                    { "data": "apellidos" },
                    { "data": "telefono" },
                    { "data": "correo" },                    
                    {
                        "data": "estado",
                        "render": function (valor) {
                            if (valor) {
                                return '<span class="badge bg-success">Activo</span>';
                            } else {
                                return '<span class="badge bg-danger">Inactivo</span>';
                            }

                        }
                    },
                    {
                        "defaultContent": '<button type="button" class="btn btn-warning btn-sm btn-editar">Editar</button> <button type="button" class="btn btn-danger btn-eliminar">Eliminar</button>',
                        "oderrable": false,
                        "searchable": false,
                        "width": "180px"


                    }

                ],
                "language": {
                    "url": '//cdn.datatables.net/plug-ins/2.2.1/i18n/es-ES.json',
                },
            });

            function abrirModal(json) {

                $("#txtid").val(0);
                $("#txtNombre").val("");
                $("#txtApellidos").val("");
                $("#txtTelefono").val("");
                $("#txtCorreo").val("");
                $("#cdactivo").val(1);

                $("#mensajeError").hide();



                if (json != null) {

                    $("#txtid").val(json.id_cliente);
                    $("#txtNombre").val(json.nombres);
                    $("#txtApellidos").val(json.apellidos);
                    $("#txtTelefono").val(json.telefono);
                    $("#txtCorreo").val(json.correo);
                    $("#cdactivo").val(json.estado == true ? 1 : 0);
                }

                $('#FormModal1').modal('show');
            }

            $("#tablausuario tbody").on("click", '.btn-editar', function () {

                filaSeleccionada = $(this).closest("tr");

                var data = tabladata.row(filaSeleccionada).data();

                console.log(data)

                abrirModal(data)


            })

            $("#tablausuario tbody").on("click", '.btn-eliminar', function () {

                var usuarioSeleccionado = $(this).closest("tr");

                var data = tabladata.row(usuarioSeleccionado).data();

                swal({
                    title: "¿Estás seguro?",
                    text: "¿Desea eliminar el cliente?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-danger",
                    confirmButtonText: "Si, Eliminar",
                    cancelButtonText: "No, Cancelar",
                    closeOnConfirm: true,
                },
                function ()
                {
                    $.ajax({
                        url: '@Url.Action("EliminarCliente", "Operaciones")',
                        type: 'POST',
                        data: JSON.stringify({ id: data.id_cliente }),
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {

                            if (data.resultado) {
                                ActualizarTabla();

                                tabladata.row(usuarioseleccionado).remove().draw();
                            } else {
                                swal("No se pudo eliminar", data.mensaje, "error");
                            }
                        },
                        error: function (error) {
                            console.log(error)
                        }
                    });
                });



                console.log(data);



            })

            function Guardar()
            {

                var Cliente = {
                    id_cliente: $("#txtid").val(),
                    nombres: $("#txtNombre").val(),
                    apellidos: $("#txtApellidos").val(),
                    telefono: $("#txtTelefono").val(),
                    correo: $("#txtCorreo").val(),
                    estado: $("#cdactivo").val() == 1 ? true : false,
                }

                jQuery.ajax({
                    url: '@Url.Action("GuardarCliente", "Operaciones")',
                    type: 'POST',
                    data: JSON.stringify({ objeto : Cliente }),
                    datatype: 'json',
                    contentType: 'application/json; charset=utf-8',
                    //data: JSON.stringify(Usuario),
                    success: function (data) {

                        $(".modal-body").LoadingOverlay("hide");

                        //CLIENTE NUEVO
                        if (Cliente.id_cliente == 0) {

                            if (data.resultado != 0) {

                                Cliente, id_cliente = data.resultado;
                                tabladata.row.add(Cliente).draw(false);

                                ActualizarTabla();

                                $('#FormModal1').modal("hide");

                            } else {
                                //alert(data.mensaje)
                                $("#mensajeError").text(data.mensaje);
                                $("#mensajeError").show();
                            }
                        }
                        //Cliente editar
                        else {

                            if (data.resultado) {
                                tabladata.row(filaSeleccionada).data(Cliente).draw(false);
                                filaSeleccionada = null;
                                ActualizarTabla();

                                $('#FormModal1').modal("hide");
                            } else {
                                $("#mensajeError").text(data.mensaje);
                                $("#mensajeError").show();
                            }
                        }
                    },
                    error: function (error) {
                        $(".modal-body").LoadingOverlay("hide");
                        $('#mensajeError').text("Error Ajax");
                        $('#mensajeError').show();
                    },
                    beforeSend: function () {
                        $(".modal-body").LoadingOverlay("show", {
                            imageResizeFactor: 2,
                            text: "Cargando...",
                            size: 24
                        })
                    }
                });
            }
            //funcion que actualiza el datatable
            function ActualizarTabla() {
                tabladata.ajax.reload(null, false);
            }



    </script>
}





