<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-xrBntoYltDgRLMC0NPLTYbfkFiR8x91K1HRe6UVHjqMZ1pbMkOnGgRVBXcFFkUETbPmr8s15x7mPlkz8f44I3A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="SHA512-D2F3Q9v+/0eD8vhfFWbpW6SzEv78lO1MYzIHVdPDTUqI5+PWTceQxi+ydbzDQZQyJfNltnDUGFwxyHAYn9IcVg==" crossorigin="anonymous" referrerpolicy="no-referrer" />



    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
    <body class="sb-nav-fixed">


        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="index.html">Autopartes Web</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    @* <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
            </div>
        </form>*@
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto me-0 me-md-3 my-2 my-md-0">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#!">Correo del Usuario</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="@Url.Action("CambiarContraseña","Acceso")">Cambiar contraseña</a></li>
                <li><a class="dropdown-item" href="@Url.Action("Index","Acceso")">Cerrar Sesion</a></li>
            </ul>
        </li>
    </ul>
    </nav>


    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Resumen</div>
                        <a class="nav-link" href=@Url.Action("Index","Home")>
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Dashboard
                        </a>

                        <div class="sb-sidenav-menu-heading">Administracion</div>
                        <a class="nav-link" href="@Url.Action("Usuarios","Home")">
                            <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                            Usuarios
                        </a>
                        <a class="nav-link" href="@Url.Action("Roles","Home")">
                            <div class="sb-nav-link-icon"><i class="fas fa-address-book"></i></div>
                            Roles
                        </a>
                        <a class="nav-link" href="@Url.Action("Permisos","Home")">
                            <div class="sb-nav-link-icon"><i class="fas fa-user-edit"></i></div>
                            Permisos
                        </a>
                        <a class="nav-link" href="@Url.Action("CambiarContraseña","Acceso")">
                            <div class="sb-nav-link-icon"><i class="fas fa-user-edit"></i></div>
                            Cambiar contraseña
                        </a>


                        <div class="sb-sidenav-menu-heading">Mantenimiento</div>
                        <a class="nav-link" href="@Url.Action("Categorias","Mantenedor")">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            Categorias
                        </a>
                        <a class="nav-link" href="@Url.Action("Marcas","Mantenedor")">
                            <div class="sb-nav-link-icon"><i class="fas fa-bookmark"></i></div>
                            Marcas
                        </a>
                        <a class="nav-link" href="@Url.Action("productos","Mantenedor")">
                            <div class="sb-nav-link-icon"><i class="fas fa-boxes"></i></div>
                            Productos
                        </a>
                        <a class="nav-link" href="@Url.Action("UnidadMedida","Mantenedor")">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-bar"></i></div>
                            Unidad De Medida
                        </a>
                        <a class="nav-link" href="@Url.Action("Servicios","Mantenedor")">
                            <div class="sb-nav-link-icon"><i class="fas fa-thumbtack"></i></div>
                            Servicios
                        </a>
                        <a class="nav-link" href="@Url.Action("TipoPago","Mantenedor")">
                            <div class="sb-nav-link-icon"><i class="fas fa-coins"></i></div>
                            Tipo de pago
                        </a>
                        <a class="nav-link" href="@Url.Action("Tiendas","Mantenedor")">
                            <div class="sb-nav-link-icon"><i class="fas fa-store"></i></div>
                            Tiendas
                        </a>

                        <div class="sb-sidenav-menu-heading">Operaciones</div>
                        <a class="nav-link" href="@Url.Action("Ventas","Operaciones")">
                            <div class="sb-nav-link-icon"><i class="fas fa-shopping-cart"></i></div>
                            Ventas
                        </a>
                        <a class="nav-link" href="@Url.Action("Compras","Operaciones")">
                            <div class="sb-nav-link-icon"><i class="fas fa-cart-plus"></i></div>
                            Compras
                        </a>
                        <a class="nav-link" href="@Url.Action("Clientes","Operaciones")">
                            <div class="sb-nav-link-icon"><i class="fas fa-user-clock"></i></div>
                            Clientes
                        </a>
                        <a class="nav-link" href="@Url.Action("Proveedores","Operaciones")">
                            <div class="sb-nav-link-icon"><i class="fas fa-user-cog"></i></div>
                            Proveedores
                        </a>
                        <a class="nav-link" href="@Url.Action("Stock","Operaciones")">
                            <div class="sb-nav-link-icon"><i class="fas fa-layer-group"></i></div>
                            Stock / Inventario
                        </a>


                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div>
                    Start Bootstrap
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    @RenderBody()

                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2023</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>


    @*@RenderBody()*@
    @*<li>@Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
        <li>@Html.ActionLink("Acerca de", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
        <li>@Html.ActionLink("Contacto", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>*@


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/complementos")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    </body>
</html>
